.v-modul-block-left{
    margin-right: 20px;
    margin-left: 0;
    flex: 0 0 70%;
    max-width: 70%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 30px;
}
.v-modul-block{
    display: flex;
}
.r-img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.v-modul_item{   
    box-sizing: content-box; 
    display: flex;
    margin-top: 50px;  
    max-width: 20%;
    padding: 10px 30px;
    height: 100px;
    border-radius: 20px;  
    border: 1px solid #723030;
    cursor: pointer;
    align-items: center;       
}
.v-modul_title{
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    line-height: 21px;
    font-family: 'Museo Sans Cyrl';
    font-weight: 700;
    color: #757575;
}
.v-modul_block{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    span{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        font-family: 'Museo Sans Cyrl';
        font-weight: 300;
        color: #757575;
    }
    img{
        max-width: 45px;
        margin-left: 5px;
    }
}

.v-modul-title{
    text-align: left;
    margin-top: 40px;
    font-size: 42px;
    line-height: 36px;
    font-family: 'Museo Sans Cyrl';
    font-weight: 700;
    color: #757575;
}
.v-modul-subtitle{
    margin-top: 30px;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
    color: #757575;
    ul{
        margin-top: 20px;
    }
    li{
        margin-top: 10px;
    }
    br{
        margin-top: 10px;
    }
    h2{
        margin-top: 15px;
        text-align: left;
        font-size: 24px;
        line-height: 24px;
        font-family: 'Museo Sans Cyrl';
        font-weight: 300;
        color: #757575;
    }  
    p{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        font-family: 'Museo Sans Cyrl';
        font-weight: 300;
        color: #757575;
    } 
}
.v-modul-subtitle li::marker {
    color: teal;
    font-size: 24px;
}
@media (min-width: 1600px){
.container {
    max-width: 1434px;
}
}
@media (min-width: 768px) and (max-width: 1100px){
.col-3{
    flex: 0 0 35%;
    max-width: 35%;
}
}
@media (max-width: 991px){
    .v-modul-block{
        display: flex;
        flex-direction: column;
        }
    .v-modul-block-left{
        margin-right: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 860px){
.col-3{
    flex: 0 0 35%;
    max-width: 35%;
}
}
@media (max-width: 767px){
    .col-3{
        flex: 0 0 32%;
        max-width: 32%;
    }
}
@media (max-width: 600px){
    .v-modul_title{
        font-size: 24px;
    }
    
    .v-modul-subtitle{
        font-size: 18px;
        h2{
            font-size: 18px;
        }
        h5{
            font-size: 12px;
        }
    }
}
@media (max-width: 550px){
    .col-3{
        flex: 0 0 80%;
        max-width: 80%;
    }
    }
 
@media (max-width:360px){
    .v-modul_item{
        padding: 7px 25px;
    }
    }
@media (max-width: 310px){
    .col-3{
        flex: 0 0 70%;
         max-width: 70%;
        }
    }